<header class="top_page_header">
    <div class="header_left">
      <i class="fa fa-home"></i>
      マイページ
    </div>
    <div class="header_right">
      <% if user_signed_in? %>
        <%= link_to "ようこそ#{current_user.nickname}さん", user_path(current_user.id),  class:"current_user_nickname" %>
      <% end %>
    </div>
</header>


<div class="main_container">
<div class="expense_lists">
<% @expenses.each do |expense| %>
  <%= render partial: "expenses/expense", locals: { expense: expense } %>
<% end %>
</div>
</div>

<%= link_to "トップページ", root_path %>