<%= render partial: "header", locals: { expenses: @expenses } %>

<div class="main_container">
<div class="expense_lists">
<% unless @expenses == [] %>
<% @expenses.each do |expense| %>
    <%= render partial: "expense", locals: { expense: expense } %>
    お気に入り
    <% if expense.favorite_counts.count >= 1 %>
      <%= expense.favorite_counts[0]['count'] %>
    <% end %>
<% end %>
<% end %>
</div>
</div>


