<%= render partial: "header", locals: { expenses: @expenses } %>

<div class="main_container">
<div class="expense_lists">
<% @expenses.each do |expense| %>
    <%= render partial: "expense", locals: { expense: expense } %>
<% end %>
</div>
</div>

<%= link_to "トップページ", root_path %>